<div class="project-card">
    <div class="card-image" *ngIf="project.imageUrl">
        <img [src]="project.imageUrl" [alt]="project.title">
    </div>
    <div class="card-content">
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
        <div class="dates">
            <span>{{ project.startDate | date }}</span> -
            <span>{{ project.endDate ? (project.endDate | date) : 'Present' }}</span>
        </div>
        <div class="tags" *ngIf="project.tags && project.tags.length > 0">
            <span class="tag" *ngFor="let tag of project.tags">{{ tag }}</span>
        </div>
        <div class="card-actions">
            <a [routerLink]="['/projects', project.id]" class="btn secondary-btn">View Case Study</a>
            <a *ngIf="project.projectUrl" [href]="project.projectUrl" target="_blank" class="btn primary-btn">View
                Live</a>
        </div>
    </div>
</div>