<div class="not-found-container">
    <div class="not-found-content">
        <div class="code-block">
            <span class="comment">// Error inesperado</span>
            <span class="keyword">throw new</span> <span class="class-name">NotFoundException</span><span class="paren">(</span>
            <span class="string">&nbsp;&nbsp;"La ruta que buscas no existe"</span>
            <span class="paren">);</span>
        </div>

        <h1 class="error-code">404</h1>
        <p class="error-msg">Página no encontrada</p>
        <p class="error-desc">La URL que intentaste visitar no existe o fue movida.</p>

        <a routerLink="/" class="btn-home">
            <i class="fas fa-arrow-left"></i> Volver al inicio
        </a>
    </div>
</div>
